/* default starts  */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  color: #442a2a;
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.container {
  min-width: 1140px;
}

img {
  max-width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

/* Shadow and Outline */
a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
a:active,
a:hover {
  text-decoration: none;
}

button,
.btn {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
button:active,
button:hover,
button:focus,
.btn:active,
.btn:hover,
.btn:focus {
  outline: 0;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: #191919;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

.btn:hover,
.btn:focus {
  outline: 0;
  box-shadow: none;
  color: #fff;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
  color: #191919;
  font-weight: 600;
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
  line-height: 1.3;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 16px;
  line-height: 1.2;
}

hr {
  margin: 20px 0;
  border-color: #352323;
}

ol {
  list-style: decimal;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol {
  list-style: lower-alpha;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

/* Form */
label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

*::-moz-selection {
  background: #10c9c3;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #10c9c3;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #10c9c3;
  color: #fff;
  text-shadow: none;
}

/* Placeholder */
*::-moz-placeholder {
  color: #442a2a;
  font-size: 18px;
  opacity: 1;
}

*::placeholder {
  color: #442a2a;
  font-size: 18px;
  opacity: 1;
}

/* Button */
.btn-theme {
  color: #fff;
  border-color: #10c9c3;
  background: #10c9c3;
}
.btn-theme:hover {
  background: #10c9c3;
  color: #fff;
  border-color: #10c9c3;
}

.btn-rounded {
  border-radius: 100% !important;
}

.btn-square {
  border-radius: 0 !important;
}

/* Bg Color */
.bg-offset {
  background: #f1f2fc;
}

.bg-gray {
  background: #f5f5f5;
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: #000;
}

.bg-theme {
  background: #10c9c3;
}

.bg-light {
  background-color: #f1f2fc !important;
}

.bg-dark {
  background-color: #141414 !important;
}

.bg-off-white {
  background-color: #f7f7f7;
}

.bg-off-white-2 {
  background-color: #f1f8ff;
}

.bg-blue {
  background-color: #4c87ff !important;
}

.bg-yellow {
  background-color: #fea116 !important;
}

.bg-pink {
  background-color: #fc4557 !important;
}

.bg-egg-blue {
  background-color: #1cb5a3 !important;
}

.bg-purple {
  background-color: #5851a7 !important;
}

/* Text Color */
.gray-color {
  color: #f5f5f5;
}

.white-color {
  color: #fff;
}

.black-color {
  color: #000;
}

.theme-color {
  color: #10c9c3;
}

/* Others Common Css Here :) */
#scrollUp {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: #10c9c3;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
#scrollUp:hover {
  opacity: 1;
}

#scrollUp:hover {
  background: #10c9c3;
}

.table-row {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

.separator {
  border-top: 1px solid #f2f2f2;
}

[data-overlay] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
}

[data-overlay="light"]::before {
  background-color: #fff;
}

[data-overlay="dark"]::before {
  background-color: #000a2d;
}

[data-overlay="theme"]::before {
  background-color: #10c9c3;
}

[data-opacity="1"]::before {
  opacity: 0.1;
}

[data-opacity="2"]::before {
  opacity: 0.2;
}

[data-opacity="3"]::before {
  opacity: 0.3;
}

[data-opacity="4"]::before {
  opacity: 0.4;
}

[data-opacity="5"]::before {
  opacity: 0.5;
}

[data-opacity="6"]::before {
  opacity: 0.6;
}

[data-opacity="7"]::before {
  opacity: 0.7;
}

[data-opacity="8"]::before {
  opacity: 0.8;
}

[data-opacity="9"]::before {
  opacity: 0.9;
}

/* deafult css ends */

/* header Start  */

.header-area {
  position: absolute;
  width: 100vw;
  z-index: 999;
  padding: 12px 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0,
    rgba(0, 0, 0, 0) 100%
  );
}

.header-logo a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.header-logo i {
  font-size: 28px;
}

.header-logo span {
  text-transform: uppercase;
  margin-left: 4px;
}

.main-menu ul li {
  display: inline-block;
  margin-right: 30px;
  transition: all linear 0.3s;
  position: relative;
  padding: 20px 0;
}

.main-menu ul li a {
  color: #fff;
  text-transform: capitalize;
}
.main-menu ul li a i {
  margin-left: 5px;
}

.main-menu ul li:hover ul.sub-menu {
  display: block;
}

.main-menu ul li:hover a i {
  transform: rotate(180deg);
}

.main-menu ul li:last-child {
  margin-right: 0;
}

.main-menu ul li ul.sub-menu {
  display: none;
  background: #fff;
  padding: 13px 7px;
  position: absolute;
  top: 95%;
  left: -110px;
  -webkit-box-shadow: 0 2px 6px rgb(109 133 158 / 8%),
    0 24px 48px rgb(71 96 116 / 25%);
  box-shadow: 0 2px 6px rgb(109 133 158 / 8%), 0 24px 48px rgb(71 96 116 / 25%);
  border-radius: 8px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  z-index: 1099;
}

.main-menu ul li ul.sub-menu > img {
  position: absolute;
  content: "";
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.main-menu ul li ul.sub-menu li {
  display: block;
  margin: 0;
  padding: 0;
}
.main-menu ul li ul.sub-menu li a {
  width: 100%;
  color: #1f2933;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.08px;
  margin: 0;
  text-decoration: none;
  display: block;
  padding: 12px 14px;
}
.main-menu ul li ul.sub-menu li a img {
  vertical-align: middle;
  border-style: none;
  margin-right: 8px;
}
.main-menu ul li ul.sub-menu li a:hover {
  color: #1f2933;
  background-color: #f5f7fa;
  border-radius: 4px;
  border: 0;
}

.main-menu ul li ul.sub-menu li:last-child {
  margin-bottom: 0;
}

.main-menu ul li ul.sub-menu li a {
  color: #000;
}

.header-right a {
  color: #fff;
}

.icon-items {
  display: inline-block;
  position: relative;
  margin-right: 40px;
  padding: 20px 0;
}

.icon-items span {
  color: #fff;
}

.icon-items ul {
  display: none;
  background: #fff;
  padding: 13px 7px;
  position: absolute;
  top: 90%;
  left: -60px;
  -webkit-box-shadow: 0 2px 6px rgb(109 133 158 / 8%),
    0 24px 48px rgb(71 96 116 / 25%);
  box-shadow: 0 2px 6px rgb(109 133 158 / 8%), 0 24px 48px rgb(71 96 116 / 25%);
  border-radius: 8px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  z-index: 1099;
}

.icon-items ul img {
  position: absolute;
  content: "";
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-items ul li {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.icon-items ul li a {
  width: 100%;
  color: #1f2933;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.08px;
  display: block;
  padding: 12px 14px;
}

.icon-items ul li a:hover {
  color: #319aaf;
  background-color: transparent;
}

.icon-items:hover ul {
  display: block;
}

.signup-btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
}

.login-btn {
  display: inline-block;
  margin-right: 20px;
}

/* header End  */

/* Hero Start  */

.hero-area {
  background-image: url(../img/banner/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 550px;
  background-size: cover;
}
.hero-area.active {
  background-image: url(../img/banner/banner-2.png);
}

.banner-overlay {
  background: linear-gradient(
    90deg,
    rgba(5, 4, 4, 0.47) 0,
    rgba(5, 4, 4, 0) 100%
  );
  z-index: 2;
}

.hero-title {
  margin-bottom: 40px;
}

.hero-title h1 {
  color: #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: transparent;
  border: none;
  transform: scale(1.4);
  margin: 0 20px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background: transparent;
  border: none;
}

button.nav-link {
  padding: 0;
}

.banner-nav {
  display: flex;
  align-items: end;
  align-content: flex-end;
  margin-bottom: 25px;
  flex-wrap: wrap;
  border: none;
}

.banner-nav-items {
  display: inline-block;
  border-radius: 8px;
}

.visa-items {
  margin-right: 8px;
}

.flights-items {
  display: inline-block;
}

.visa-items a {
  padding: 12px 32px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(42px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  font-weight: 600;
  line-height: 160%;
  text-align: center;
  letter-spacing: -0.08px;
  border-radius: 10px;
  background: radial-gradient(
    100% 100% at 0 0,
    rgba(255, 255, 255, 0.4) 0,
    rgba(255, 255, 255, 0) 100%
  );
}

.visa-items i {
  font-size: 20px;
}
.flights-items i {
  font-size: 20px;
}

.flights-items a {
  padding: 12px 22px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(42px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  font-weight: 600;
  line-height: 160%;
  text-align: center;
  letter-spacing: -0.08px;
  border-radius: 10px;
  background: radial-gradient(
    100% 100% at 0 0,
    rgba(255, 255, 255, 0.4) 0,
    rgba(255, 255, 255, 0) 100%
  );
}

.content-box {
  box-shadow: 0 6px 12px rgb(32 65 90 / 10%);
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.select-option {
  width: 100%;
  display: flex;
  margin-bottom: 8px;
}

.dropbtn {
  background: #fff;
}

.dropbtn i {
  font-size: 12px;
  margin-left: 8px;
}

.jdropdown-container-header {
  width: 470px;
}

.jdropdown-default .jdropdown-container {
  width: 470px;
}

.jdropdown-default.jdropdown-focus .jdropdown-header {
  outline: none;
}

.jdropdown-default .jdropdown-container {
  width: 470px;
}

.jdropdown-default .jdropdown-header {
  background: #f1f2f6;
  border: 0;
  outline: 0;
}

.dropdown-content {
  width: 400px;
  padding: 12px;
  background: #fff;
}

.passengers-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.category-name span {
  margin-right: 15px;
}

.category-counts {
  display: flex;
  align-items: center;
}
.category-counts input {
  width: 32px;
  height: 32px;
  border: 0;
  outline: 0;
  text-align: center;
}

.category-counts .counting {
  display: inline-block;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgb(0 0 0 / 5%);
  border-radius: 4px;
  width: 32px;
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f5f7fa;
  color: #606266;
  cursor: pointer;
  margin: 0 5px;
}

.sub-content-box {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.select-box {
  background: #f1f2f6;
  -webkit-box-shadow: 0 0 0 rgb(0 0 0 / 10%);
  box-shadow: 0 0 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  border: 0;
  margin-right: 8px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.select-box:hover {
  outline: 1px solid #cbd2d9;
}

.select-box i {
  margin-right: 12px;
  font-size: 28px;
  color: #319aaf;
  padding-left: 20px;
}

.selected {
  width: 100% !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #1f2933;
  border: 0;
  outline: 0;
  user-select: none;
  appearance: none;
  background: #f1f2f6;
}

.select-show {
  padding-left: 20px;
  padding-right: 8px;
  outline: none;
  border: none;
  position: relative;
}

.citizen-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.citizen-text p {
  padding-left: 12px;
}

.track-btn {
  outline: 0;
  border: 0;
  background: #fff;
}

.track-btn span {
  pointer-events: none;
}

.track-btn i {
  margin-left: 8px;
  font-size: 12px;
  pointer-events: none;
}

.track-content {
  display: none;
  list-style: none;
  position: absolute;
  top: 15px;
  left: 0;
  width: 90px;
  z-index: 10;
  padding: 10px 0;
  margin: 12px 0;
  background-color: #fff;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.track-content li {
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
}

.track-content li:hover {
  padding: 8px;
  color: #319aaf;
  cursor: pointer;
}

.classes-btn {
  outline: 0;
  border: 0;
  background: #fff;
}

.classes-btn span {
  pointer-events: none;
}

.classes-btn i {
  margin-left: 8px;
  font-size: 12px;
  pointer-events: none;
}

.classes-content {
  display: none;
  list-style: none;
  position: absolute;
  top: 15px;
  left: 0;
  width: 190px;
  z-index: 10;
  padding: 10px 0;
  margin: 12px 0;
  background-color: #fff;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.classes-content li {
  font-weight: 600;
  cursor: pointer;
}
.classes-content li input {
  cursor: pointer;
  margin-right: 4px;
  margin-left: 8px;
}

.classes-content li label {
  padding: 8px 8px 8px 0;
  width: 84%;
}

.classes-content li input[type="radio"]:checked + label {
  color: #319aaf;
}

.classes-content li:hover {
  color: #319aaf;
  cursor: pointer;
}

.apply-btn {
  padding: 14px 30px;
  width: max-content;
  border-radius: 8px;
  background: #319aaf;
  color: #fff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.apply-btn i {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: middle;
}

/* Hero End */

/* trusted travelers Start  */

.trusted-travelers-area {
  padding: 48px 0;
  background: #fafafa;
}

.section-items {
  margin-bottom: 50px;
}

.section-icons {
  display: inline-block;
}

.section-icons i {
  color: #e4c403;
  margin-right: 8px;
}

.section-title {
  display: inline-block;
  color: #7b8794;
  font-size: 16px;
}

.rating-wrap {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.rating-wrap a img {
  width: 80%;
}

.medal-img {
  margin-right: 8px;
}

.rating-text {
  color: #1f2933;
  font-size: 12px;
  font-weight: 600;
}

.rating-text p {
  margin: 0;
  padding: 0;
  color: #041316;
}

.rating-logo img {
  display: block;
  margin: 0 auto;
}

/* trusted travelers End  */

/* destination start  */

.destination-area {
  padding: 120px 0;
}

.section-title h2 {
  color: #1f2933;
  font-size: 48px;
  margin-bottom: 11px;
}

.destination-slider-active {
  margin-top: 90px;
}

.swiper-slide.single-slide {
  margin-right: 30px;
}

.slider-content-1 {
  width: 255px;
  margin: 0 auto;
}

.destination-title {
  margin-top: 24px;
  margin-bottom: 6px;
  text-align: left;
}

.destination-title h4 {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #1f2933;
  display: inline-block;
}

.destination-title i {
  margin-left: 8px;
  display: inline-block;
  color: #f00;
}

.working-time {
  text-align: left;
}

.working-time span {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #616e7c;
  text-align: left;
}

/* destination end */

/* blog start  */

.blog-wrap {
  margin: 38px 0 80px;
}

.blog-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.08px;
  margin-bottom: 12px;
  font-size: 14px;
}

.blog-title {
  margin-top: 12px;
  margin-bottom: 8px;
}

.blog-title:hover a {
  text-decoration: underline;
}

.blog-title a {
  color: #1f2933;
  line-height: 140%;
  letter-spacing: -0.2px;
  font-weight: 600;
  font-size: 20px;
}

.blog-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.blog-footer a {
  color: #9aa5b1;
  margin-right: 8px;
}

.blog-footer a:hover {
  color: initial;
  text-decoration: underline;
}

.blog-date {
  color: #9aa5b1;
}

.blog-btn {
  margin-bottom: 100px;
}

.blog-btn a {
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 36px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  color: #616e7c;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.2px;
}

.blog-btn a:hover {
  color: #1f2933;
  border: 1px solid #1f2933;
}

/* blog end */

/* info section start  */

.info-section-area {
  margin-top: 130px;
  background: #10243e;
}

.info-wrap {
  margin-bottom: 84px;
}

.info-text {
  padding: 84px 0 0 0;
  margin-bottom: 40px;
}

.info-text h2 {
  color: #fafafa;
  font-size: 48px;
}

.info-apply-btn a {
  padding: 16px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  display: inline-block;
  border-radius: 4px;
  background-color: #319aaf;
  color: #fff;
}
.info-apply-btn a:hover {
  background-color: #226d7c;
}

/* info section end */

/* footer Start  */

.footer-area {
  padding: 60px 0 28px 0;
  background-color: #f5f5f7;
}
.footer-top {
  padding-bottom: 60px;
}

.footer-bottom {
  margin: 28px 0;
}

.footer-logo a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo i {
  margin-right: 8px;
  font-size: 32px;
}

.footer-logo span {
  text-transform: uppercase;
  color: #4c5b67;
  font-weight: 900;
}

.footer-description {
  margin-bottom: 30px;
}
.footer-description p {
  margin-right: 30px;
}

.footer-social ul {
  list-style: none;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 16px;
}

.footer-social ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.footer-social ul li a {
  color: #616e7c;
}

.footer-social ul li a i {
  font-size: 16px;
}

.footer-widget ul li {
  margin-bottom: 12px;
}

.footer-widget ul {
  list-style: none;
}

.footer-widget ul li:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.footer-widget ul li a {
  color: inherit;
}
.footer-widget ul li a:hover {
  color: #1f2933;
}

.widget-title {
  margin-bottom: 20px;
}

.widget-title h5 {
  font-size: 16px;
}

/* footer End */
